body {
	background-image: url("../images/old_mathematics.png");
	font-family: 'Schoolbell', cursive;
}
#box {
	width: 95%;
	margin-bottom: 50px;
}

.jumbotron {
	font-family: 'Schoolbell', cursive;
	color: white;
	background-color: black;
}

#startbox {
	background-color: #add8e6;
	width: 1000px;
	height: 500px;
	border: 1px black solid;
	padding: 25px;
	margin: 25px;
}

#gamebox {
	background-color: #98fb98;
	width: 1000px;
	height: 500px;
	border: 1px black solid;
	padding: 25px;
	margin: 25px;
}

#endbox {
	background-color: #ffffe0;
	width: 1000px;
	height: 500px;
	border: 1px black solid;
	padding: 25px;
	margin: 25px;
}

#start {
	width: 30%;
	height: 70px;
	font-size: 35px;
	margin-top: 30%;
	background-color: green;
}

#question {
	font-size: 35px;
}

.answer {
	font-size: 30px;
}

.answer:hover {
	font-size: 34px;
	font-weight: bold;
}