/**/

html, body {
	background-image: url("../images/old_mathematics.png");
	font-family: 'Schoolbell', cursive;
  	height:100%;
  	width: 100%;
  	margin: 0 auto;
  	padding: 0;
}

}
#box {
	width: 90%;
	margin-bottom: 50px;
}

.jumbotron {
	font-family: 'Schoolbell', cursive;
	color: white;
	background-color: black;
}

#startbox {
	background-color: #add8e6;
	height: 500px;
	border: 1px black solid;
	padding: 25px;
	margin: 25px;
}
#timer {
	font-size: 70px;
	border: 2px solid black;
	padding: 5px;
	width: 100px;
	height: 100px;
}
#secretAnswer {
	display: none;
}

#gamebox {
	display: none;
	background-color: #ffffe0;
	height: 500px;
	border: 1px black solid;
	padding: 25px;
	margin: 25px;
}

#correctBox, #incorrectBox {
	display: none;
	height: 500px;
	border: 1px black solid;
	padding: 25px;
	margin: 25px;
}

#correctBox {
	background-color: #98fb98;
}

#incorrectBox {
	background-color: red;
}
#endbox {
	display: none;
	background-color: #add8e6;
	height: 500px;
	border: 1px black solid;
	padding: 25px;
	margin: 25px;
}

#start, #reset {
	padding: 10px;
	font-size: 35px;
	margin-top: 100px;
	background-color: green;
}

#start:hover, #reset:hover {
	background-color: black;
	color: green;
}

#question {
	font-size: 35px;
}

.answer {
	font-size: 30px;
}

.answer:hover {
	font-size: 34px;
	font-weight: bold;
}