/**/

html, body {
	background-image: url("../images/old_mathematics.png");
	font-family: 'Schoolbell', cursive;
  	height:100%;
  	width: 100%;
  	margin: 0 auto;
  	padding: 0;
  	font-family: 'Amatic SC', cursive;
}
h1 {
	font-family: 'Fredericka the Great', cursive;
}
#box {
	width: 80%;
	margin-bottom: 50px;
}

#startbox {
	background-color: #add8e6;
	height: 95%;
	border: 1px black solid;
	padding: 25px;
	margin: 25px;
}
#timer {
	font-size: 70px;
	padding: 5px;
	width: 100px;
	height: 100px;
}
#secretAnswer {
	display: none;
}

#gamebox {
	display: none;
	/*background-color: #ffffe0;*/
	background: url("http://i.imgur.com/oavv3DC.jpg");
	color: white;
	background-size: contain;
	height: 95%;
	border: 1px black solid;
	border-bottom: #614126  solid 20px;
	padding: 40px;
	margin: 25px;
}

#correctBox, #incorrectBox {
	display: none;
	height: 95%;
	border: 1px black solid;
	border-bottom: #614126  solid 20px;
	padding: 25px;
	margin: 25px;
}

#correctBox {
	background-color: #98fb98;
}

#incorrectBox {
	background-color: #FE6860;
}
#endbox {
	display: none;
	background-color: #add8e6;
	height: 95%;
	border: 1px black solid;
	padding: 25px;
	margin: 25px;
}

#start, #reset {
	padding: 10px;
	font-size: 35px;
	margin-top: 100px;
	background-color: green;
}

#start:hover, #reset:hover {
	background-color: black;
	color: green;
}

#question {
	font-size: 35px;
}

.answer {
	font-size: 30px;
}

.answer:hover {
	font-size: 34px;
	font-weight: bold;
}
